default_language_version:
  python: python3

repos:
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.33.3
  hooks:
  - id: check-github-workflows
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
    args: [--allow-multiple-documents]
  - id: check-toml
  - id: check-json
  - id: check-added-large-files
    exclude: uv.lock
  - id: check-merge-conflict
  - id: detect-private-key
# Python
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
  - id: ruff-check
    args: [--fix, --exit-non-zero-on-fix]
    types_or: [python, pyi, jupyter]
  - id: ruff-format
    types_or: [python, pyi, jupyter]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.17.1
  hooks:
  - id: mypy
    additional_dependencies:
    - types-pyyaml==6.0.12.20250822
    - types-redis==4.6.0.20241004
    - types-requests==2.32.4.20250809
    - types-setuptools==80.9.0.20250822
    - typing-extensions==4.15.0
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.6.0
  hooks:
  - id: pyproject-fmt
- repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
  rev: 0.8.15
  hooks:
  - id: uv-lock
- repo: local
  hooks:
  - id: clear-ipynb
    name: clear-ipynb
    description: Remove the output and unnecessary metadata
    language: python
    additional_dependencies: [jupyter]
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --inplace
    files: .ipynb$
